.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fieldss{
  margin: 1%;
  float: right;
}

.dislikebtn{
  margin: 2%;
}

.showdowed{
  margin-top: 8%;
  box-shadow: 1px 2px 9px #F4AAB9;
  height: 10%;
  width: 20%;
  margin: 4em;
  padding: 1em,

}
.continer{
  display: flex;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.btn{
  background-color: blue !important;
  color: white;
  margin: 0.5%;
}

.btn:hover {
  background-color: lightcoral;
}

.deletebtn{
  background-color: red !important;
}

